@use './library.scss';

.editor-mobile{

  &__UI{
    display: none;
  }

  &__openBtn{
    padding: 1rem 3rem;
    background-color: #fb6b02;
    color: white;
    font-size: 1.1rem;
    border: none;
    margin: auto;

  }
    
  &__exitBtn{
    background-color: #fb6b02;
    position: fixed;
    border: none;
    left: 0.5rem;
    top: 0.5rem;
    width: 50px;
    height: 50px;
  }


  &__toolbar{
    background-color: #fb6b02;
    width: 100%;
    position: fixed;
    height: 50px;
    left: 0px;
    border-bottom: 1px solid gray;
    bottom: 2rem;

    &-list{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      overflow-x: scroll;
      margin: 0px;
      padding: 0px;
    }

    &-item{
      list-style: none;
      width: 100px;
      background-color: red;
    }
  }

  &__toogle{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    

    &-btn{
      background-color: #fb6b02;
      flex: 33%;
      border: none;
      border-left: 1px solid gray;
      padding: 0px;
      height: 2rem;
    }
  }
}

.tray{
  position: fixed;
  left: 0px;
  bottom: calc(50px + 2rem);
  width: 100%;
  translate: 0px 100%;
  transition: translate 0.3s ease;
  
  &__slide{
    display: flex;
    flex-direction: row;
  }

  &__swatch{
    width: 40px;
    height: 40px;
  }
}



@media only screen and (max-width: 600px) {
    
  .editor-mobile{

    &__UI{
      display: flex;
      align-items: center;
    }
  }
}

