@use './library.scss';

.editor{

  &__designTools{
    grid-area: designTools;
    border: 1px solid library.$color__light-gray;
    border-radius: 20px;
    overflow: hidden;

    &-header{
      text-align: center;
      color: white;
      background-color: library.$color__orange;
      font-weight: 600;
      padding: 1rem 0rem;
    }

    &-list{
      margin: 0px;
      padding: 0;
    }

    &-item{
      list-style: none;
      border-bottom: 1px solid black;
      padding: 1rem 0rem;
    }
  }
  
  &__container{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "designTools canvas orderDetails";
    grid-template-columns: 180px auto 180px;  
    gap: 1rem;
  }

  &__canvas{

    &-cont{
      grid-area: canvas;
      //overflow: hidden;
      
    }

    &-inside{
      border: 1px solid black;
      width: 540px;
      height: 540px;

      &-cont{
        position: relative;
        width: 540px;  
        height: 540px;
      }
    }
    
    &-text{
      background-color: red;

    }
  }


  &__orderDetails{
    grid-area: orderDetails;
    border: 1px solid library.$color__light-gray;
    border-radius: 20px;
    overflow: hidden;

    &-header{
      text-align: center;
      color: white;
      background-color: library.$color__orange;
      font-weight: 600;
      padding: 1rem 0rem;
    }
  }
}

.textAdded{

  position: absolute;
  width: 170px;
  height: 170px;
  display: inline;
  padding: none;
  box-sizing:border-box;
  border: 1px solid black;


  &:hover{
    border: 1px solid black;
  }


  &:focus{
    
    outline: none;
  }


}

.pointer{
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: blue;

  &:hover{
    background-color: red;

  }
}
@media only screen and (max-width: 600px) {
    
  .editor{

    &__container{
      width: 100%;
      display: flex;
      gap: 1rem;
    }

    &__canvas{
      grid-area: none;
    }

    &__designTools{
      display: none;
    }

    &__container{
      flex-direction: column; 
    }
  }
}