<form id="textTool-form" class="textTool">
  <label class="textTool__label">Texto</label>
  <input id="textTool-input-text" type="text" class="textTool__text">
  <label class="textTool__label" for="font-family">Fuente:</label>
  <select class="textTool__family" name="font-family" id="textTool-select-family">
    <option value="Times New Roman">Times New Roman</option>
    <option value="Arial">Arial</option>
    <option value="Helvetica">Helvetica</option>
    <option value="Calibri">Calibri</option>
    <option value="Verdada">Verdana</option>
  </select>
  <label class="textTool__label" for="font-size">Tamano de fuente:</label>
  <select class="textTool__size" name="font-size" id="textTool-select-size">
    <option value="30px">1px</option>
    <option value="2px">2px</option>
    <option value="3px">3px</option>
    <option value="4px">4px</option>
    <option value="6px">6px</option>
    <option value="8px">8px</option>
    <option value="10px">10px</option> 
    <option value="12px">12px</option>
    <option value="16px">16px</option>
    <option value="18px">18px</option>
    <option value="20px">20px</option>
    <option value="24px">24px</option>
    <option value="28px">28px</option>
    <option value="32px">32px</option>
    <option value="36px">36px</option>
  </select>
  <input type="checkbox" class="textTool__italic" name="isItalic" value="true">
  <label class="textTool__label" for="isItalic"> Italic</label><br>
  <color-picker>

  </color-picker>
</form>
<button id="draw-text">Dibujar texto</button>